*, *:after, *:before {
	box-sizing: border-box;	
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif;
	width: 100%;

}

nav {
	display: block;
	text-align: center;
	padding: 20px;
	font-size: 1.5em;
	
}

.index-nav {
	background-color: rgba(82, 70, 86, .8);

}

.about-nav {
	background-color: rgba(82, 70, 86, 1);
} 
.fees {
	font-size: 3vmax;
}



.percent {
	font-size: 3vmax;
	font-style: italic;
}
.navbar a {
	color: #fff;
	text-decoration: none;
	padding: 15px;
	

}

.navbar a:hover {
	border: solid;
}

header {
	background-image: url('photos/moutaindesert.jpg');
	background-position: 50% 50%;
	/*background-size: 80%;*/
	background-repeat: no-repeat;

}


.banner-index h1 {
	text-align: center;
	color: #fff;
	/*background-color:rgba(255, 153, 0, 1);*/
	background-color: rgba(235,123,89,.8);
	font-size: 15vmax;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	
}

.banner-about h1 {
	text-align: center;
	color: #fff;
	/*background-color:rgba(255, 153, 0, .8);*/
	background-color: rgba(235,123,89,.8);
	font-size: 8vmax;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	
}


/*column css */

.col-2-1 h2 {
	font-size: 6em;
	padding-left: 15vmax;
	color: #52666b;
}

.col-2-2 p {
	font-size: 1.5em;
	padding-right: 15vmax;
	color: #52666b;
}

.col-2-2 {
	padding-top: 74px;
	padding-left: 15vmax ;

}

[class*='col-3-'] img {
	width: 100%;
	border-radius: 50%;
}

/*join*/
.join {
	background-image: url('photos/kids.jpg');
	clear: both;
	position: relative;
	background-size: 100%;
	width: 100%;
	text-align: center;
	color: #52666b ;
	padding: 5vmax 0 5vmax 0;
	background-position: 50% 42%;
	font-family: 'Roboto', sans-serif;


}

.join:before {
	content:"";
    display: block;
    height: 100%;
    position: absolute;
    clear: both;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(82, 70, 86, .8);
    
}

.join h3 {
	color: #fff;
	font-size: 3vmax;
	position: relative;
	font-weight: 100;

}

.join a {
	text-decoration: none;
}

.button {
	/*background-color:rgba(255, 153, 0, 1);*/
	background-color: rgba(235,123,89,1);
	padding: 10px;
	width: 40%;
	font-size: 3vmax;
	color: #fff ;
	position: relative;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10vmax;
}


/*about me columns*/




.col-3-2  {
	
	font-size: 2vmax;
}

.col-3-2 h2 {
	text-align: center;
	color:  #52666b ;
}
.col-3-2 p {
	padding: 0 3vmax 0 3vmax;
	color:  #52666b ;
}

/*about me contact*/

.contact-us {
	background-color: rgba(167,197,189, 1);

}
.contact-us h2 {
	text-align: center;
	color: #fff;
	font-size: 3vmax;
	margin: 0;
	padding-bottom: 10vmax;
}

footer p{
	background-color: #52666b; 
	color: #fff;
	text-align: center;
	margin: 0;
	

}



@media (min-width: 768px) {


	.footer {
		clear: both;
	}

	

	.col-2-1 {
		float: left;
		width: 50%;
		

	}

	.col-2-2 {
		float: right;
		width: 50%;
		padding-left: 0;
		

	}

	[class*='col-3-'] {
		width: 33.333%;
		margin-top: 5vmax;


	}
	.col-3-1 {
		float: left;
		
	}

	.col-3-2 {
		float: center;
		display: inline-block;
		
	}

	.col-3-3 {
		float: right;
		
	}


	
}