*, *:after, *:before {
	box-sizing: border-box;	
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	color: #52666b;
}

nav {
	display: block;
	text-align: center;
	padding: 0 20px;
	font-size: 1.5em;
	
	font-weight: 100;
	
}

img {
	width: 100%;
}



 
.fees {
	font-size: 3vmax;
}



.percent {
	font-size: 3vmax;
	font-style: italic;
}
.navbar {
	background-color:rgba(82, 70, 86, .8);
}


.navbar a {
	color: #fff;
	text-decoration: none;
	padding: 15px 15px 0 15px;
	display: block;
	margin-bottom: 15px;
	

}

.navbar a:hover {
	border-bottom: solid;
}

header {
	background-image: url('photos/moutaindesert.jpg');
	background-position: 50% 50%;
	/*background-size: 80%;*/
	background-repeat: no-repeat;

}


.banner-index h1 {
	text-align: center;
	color: #fff;
	/*background-color:rgba(255, 153, 0, 1);*/
	background-color: rgba(235,123,89,.8);
	font-size: 10vmax;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	
}

.banner-about h1 {
	text-align: center;
	color: #fff;
	/*background-color:rgba(255, 153, 0, .8);*/
	background-color: rgba(235,123,89,.8);
	font-size: 8vmax;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	
}


/*column css */


.col-2-1 h2 {
	font-size: 6em;
	padding-left: 2vmax;
	color: #52666b;
}

.col-2-2 p {
	font-size: 1.5em;
	padding-right: 15vmax;
	color: #52666b;
}

.col-2-2 {
	
	padding-left: 2vmax ;

}

[class*='col-3-'] img {
	width: 100%;
	/*border-radius: 50%;*/
}

/*join*/
.join {
	background-image: url('photos/kids.jpg');
	clear: both;
	position: relative;
	background-size: 100%;
	width: 100%;
	text-align: center;
	color: #52666b ;
	padding: 5vmax 0 5vmax 0;
	background-position: 50% 42%;
	font-family: 'Roboto', sans-serif;


}

.join:before {
	content:"";
    display: block;
    height: 100%;
    position: absolute;
    clear: both;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(82, 70, 86, .8);
    
}

.join h3 {
	color: #fff;
	font-size: 3vmax;
	position: relative;
	font-weight: 100;

}

.join a {
	text-decoration: none;
}

.button {
	/*background-color:rgba(255, 153, 0, 1);*/
	background-color: rgba(235,123,89,1);
	padding: 10px;
	width: 40%;
	font-size: 3vmax;
	color: #fff ;
	position: relative;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10vmax;
}


/*about me columns*/




.col-3-2  {
	
	font-size: 2vmax;
}

.col-3-2 h2 {
	text-align: center;
	color:  #52666b ;
	font-size: 5vmax;
	margin-top: 0;

}
.col-3-2 p {
	padding: 0 3vmax 0 3vmax;
	color:  #52666b ;
}

/*about me contact*/

/*.border h2 {
	border-left: 5px solid #52666b ;
}*/

.contact-us {
	background-color: rgba(167,197,189, 1);
	clear: both;

}
.contact-us p {
	width: 80%;
	margin: auto;
	font-size: 2vmax;
	padding-top: 2vmax;
}
.contact-us h2 {
	text-align: center;
	color: #fff;
	font-size: 5vmax;
	margin: 0;
	padding-top: 2vmax;
	
}

.contact-us article {
	color:  #fff ;
	padding: 0 5vmax 2vmax 5vmax;
}

.contact-us a {
	text-decoration: none;
	color: #fff;
}

footer p{
	background-color: #52666b; 
	color: #fff;
	text-align: center;
	margin: 0;
	

}



/*sponsor a child*/
.sponsor-list h2 {
	color: #52666b;
	font-size: 3em;
	padding-left: 0;
}

.sponsor-list p, li {
	font-size: 2vmax;
}

.pad-right {
	padding-right: 2vmax;
	padding-left: 2vmax;
}

.col-full h2 {
	text-align: center;
	color: #52666b;
	font-size: 3em;
}

.col-3-3 img, .col-3-1 img {
	padding: 0 3vmax 3vmax;
}




@media (min-width: 768px) {

	.navbar {
	font-weight: 500;
	text-align: right;
	background-color: rgba(0,0,0,0);

	}
	.top {
		margin-top: 2vmax;
	}
	.col-full {
	width: 100%;
	clear: both;
	}

	.wrapper {
		display: flex;
		clear: both;
		width: 80%;
		margin: 2vmax auto;
	}

	.padding-left {
		padding-left: 15vmax;
	}

	.padding-top {
		padding-top: 74px;
	}

	.footer {
		clear: both;
	}

	.sponsor-page h2 {
		margin: 0;
	}

	.col-2-1 {
		float: left;
		width: 50%;
		margin: 0 auto;
	}

	.col-2-2 {
		float: right;
		width: 50%;
		margin: 0 auto;
		
		

	}


	[class*='col-3-'] {
		margin-top: 5vmax;


	}
	.col-3-1 {
		float: left;
		width: 40%;
	}

	.col-3-2 {
		float: right;
		display: inline-block;
		width: 60%; 
		
	}

	.col-3-3 {
		float: right;
	}

	

	.navbar a {
		display: inline-block;
	}
	.col-4 {
		width: 25%;
		float: left;

	
	}	
	
}